[user]
	name = pexcn
	email = pexcn97@gmail.com
[color]
	ui = auto
[core]
	editor = nano
	quotePath = false
[log]
	date = iso
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	cp = cherry-pick
[pull]
	ff = only
[init]
	defaultBranch = master
[format]
	signoff = true
[pager]
	branch = false
