[user]
	name = pexcn
	email = i@pexcn.me
	signingkey = 69454CEE
[color]
	ui = auto
[core]
	editor = nano
[log]
	date = iso
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	cp = cherry-pick
[pull]
	ff = only
[commit]
	gpgsign = true
[init]
	defaultBranch = master
